NODE_ENV=
PORT=
RATE_LIMIT_TIME=
RATE_LIMIT_LIMIT_REQUESTS=

JWT_SECURITY=

CRYPTO_SECURITY=

DB_USERNAME=
DB_PASSWORD=
DB_NAME=

DATABASE_URL=

MERCADO_PAGO_INTEGRATION=
MERCADO_PAGO_PUBLIC_SENDBOX=
MERCADO_PAGO_ACCESS_TOKEN_SENDBOX=

MERCADO_PAGO_PUBLIC_PRODUCTION=
MERCADO_PAGO_ACCESS_TOKEN_PRODUCTION=
